html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

#app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.title_large {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 100%;
}
